@font-face {
  font-family: "CustomFont";
  src: url(../fonts/superlegendboy-4w8y-webfont.woff);
  src: url(../fonts/superlegendboy-4w8y-webfont.woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: "CustomFont", Arial, Helvetica, sans-serif;
  background-color: #a78552;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#grid-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
  width: 400px;
  height: 400px;
}

#panel-btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#lbl-color {
  margin-top: 1rem;
}

#rgb-picker {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
}

#fill, #erase, #rainbow, #darken {
  padding: 1rem;
  width: 7rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  font-family: inherit;
  font-size: 0.8em;
}

#r {
  color: red;
}

#a {
  color: orange;
}

#i {
  color: yellow;
}

#n {
  color: rgb(14, 146, 14);
}

#b {
  color: rgb(66, 66, 245);
}

#o {
  color: rgb(139, 24, 139);
}

#w {
  color: rgb(223, 41, 223);
}

#darken {
  text-indent: -0.4rem;
}

#input-size {
  width: 10rem;
}

#p-text {
  width: 14rem;
}

#clear {
  border-radius: 1rem;
  width: 7.5rem;
  padding: 1rem;
  font-family: inherit;
  font-size: 0.8em;
  transition: 0.4s all ease-in-out;
}

footer p {
  text-align: center;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 1rem;
    height: 0.4rem;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #000000;
    border: 2px solid #a78552;
    height: 1rem;
    width: 1rem;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 1rem;
  width: 10rem;
}

/* Hover events */
#fill:hover, #erase:hover, #rainbow:hover, #darken:hover, #rgb-picker:hover {
  transform: scale(1.1);
}

#clear:hover {
  transition: 0.5s all ease-in-out;
  transform: rotate(360deg);
}

/* Large screens */
@media (max-width: 1300px) {

  header {
    font-size: 0.8rem;
  }

  #container {
    font-size: 0.7rem;
  }

  footer {
    font-size: 0.8rem;
  }
}

/* Medium screens */
@media (max-width: 839px) {

    #container {
    font-size: 0.5rem;
  }

  #fill, #erase, #rainbow, #darken, #clear, #input-size, #p-text {
   width: 5rem;
   margin-right: 2rem;
  }

  #rgb-picker {
    width: 2rem;
    height: 2rem;
  }

}

/* Extra */
@media (max-width: 730px) {

  #rgb-picker {
    width: 2rem;
    height: 2rem;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
  }
}

/* Extra */
@media (max-width: 513px) {

  #p-text {
    display: none;
  }

  #panel-btn {
    font-size: 0.5rem;
    flex-direction: column;
    gap: 0.2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

}